[global]
pandora_pool_size  = 10
server.socket_host = "0.0.0.0"
server.socket_port = 80

[/]
tools.staticdir.root = "/srv/walkman"
tools.sessions.on = True
tools.sessions.timeout = 1440

[/api]
request.dispath = cherrypy.dispatch.MethodDispatcher()

[/css]
tools.staticdir.on = True
tools.staticdir.dir = "css"

[/js]
tools.staticdir.on = True
tools.staticdir.dir = "js"

[/static]
tools.staticdir.on = True
tools.staticdir.dir = "static"

[/skin]
tools.staticdir.on = True
tools.staticdir.dir = "skin"
