[global]
pandora_pool_size  	= 10
pandora_proxy		= "http://127.0.0.1:8118"
crypto_key 			= "crypto/privkey.pem"
server.socket_host 	= "0.0.0.0"
server.socket_port 	= 80
database 			= "mysql://walkman:walkman@localhost/walkman"

[/]
tools.staticdir.root = "/srv/walkman"
tools.sessions.on = True
tools.sessions.timeout = 1440
tools.sessions.storage_type = "file"
tools.sessions.storage_path = "/srv/walkman/sessions"

[/favicon.ico]
tools.staticfile.on = True
tools.staticfile.filename = "/srv/walkman/favicon.ico"

[/spool]
tools.staticdir.on = True
tools.staticdir.dir = "spool"
tools.staticdir.content_types = {'mp3': 'application/force-download'}

[/css]
tools.staticdir.on = True
tools.staticdir.dir = "css"

[/js]
tools.staticdir.on = True
tools.staticdir.dir = "js"

[/static]
tools.staticdir.on = True
tools.staticdir.dir = "static"

[/images]
tools.staticdir.on = True
tools.staticdir.dir = "images"

[/skin]
tools.staticdir.on = True
tools.staticdir.dir = "skin"
